<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daft Punk</title>
</head>
<body>
   <div>
    <img src="https://resources.tidal.com/images/2a1eae8e/49e9/4d79/bb00/956a242eddd6/1080x1080.jpg" alt="">

<a href="https://open.spotify.com/playlist/5FPvD2X2jBM782H8zGgjT3">        
 <button  type="submit" >View Album</button>
</a>


   </div> 
</body>
</html>