<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/artist-search" method="get">
        <label for="artistName">Best Artist</label>
        <input type="text" name="artistName" id="">
        <button type="submit">send</button>
    </form>
</body>
</html>